.header__modal {
    background-color: var(--blue);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    margin: 0 auto;
}

.modal__link {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--white);
    text-decoration: underline;
}

.modal__button {
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 700;
    color: var(--white);
}

@media screen and (min-width: 768px) {

    .modal {
        width: 75rem;
    }
    
}

@media screen and (min-width: 992px) {

    .modal {
        width: 97rem;
    }

}

@media screen and (min-width: 1200px) {

    .modal {
        width: 117rem;
    }

}