@import url('/node_modules/normalize.css/normalize.css');

:root {

    /* Colors */
    --white: #FFFFFF;
    --light-gray: #D9DADC;
    --black: #000000;
    --blue: #1D75DE;
    --overlay: rgba(0, 0, 0, 0.75);
    
    /* Font Size */
    font-size: 62.5%;

}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    outline: 0;
    border: none;
    background: transparent;
}

.suppress-scroll {
    overflow: hidden;
}