.features {
    padding: 3.5rem 1.5rem;
}

.features__title {
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 3.2rem;
    letter-spacing: -0.024rem;
    text-align: center;
    margin-bottom: 3rem;
}

.features__list {
    list-style-type: none;
}

.list__feature {
    display: flex;
    margin-bottom: 2rem;
}

.feature__image {
    height: 9.3rem;
    margin-right: 2rem;
}

.feature__info {
    margin: 1.6rem 0;
}

.info__title {
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.info__text {
    font-size: 1.6rem;
    line-height: 1.5;
}