.footer {
    background-color: var(--black);
    padding: 5rem 0 2rem;
}

.footer__nav {
    display: flex;
    flex-direction: column;
}

.nav__logo {
    padding: 0 1.5rem;
}

.logo__link {
    display: inline-block;
    width: 8.9rem;
    height: 2.7rem;
}

.link__image {
    fill: var(--white);
}

.nav__social-media {
    margin: 12rem 1.5rem 1.5rem;
}

.social-media__list {
    display: flex;
    list-style-type: none;
    margin: 2rem 0 0;
}

.list__icon:not(:last-child) {
    display: inline-block;
    margin-right: 1.5rem;
}

.icon__link {
    background-color: var(--dark-gray);
    border-radius: 50%;
    width: 4.4rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__country {
    margin: 0 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.country__link {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1rem 0;
    color: var(--gray);
}

.nav__bottom-links {
    display: flex;
}

.bottom-links__list {
    margin: 0 4.5rem 0 0;
    padding: 0 0 0 1.5rem;
    list-style: none;
}

.list__bottom-item {
    display: inline-block;
    margin-right: 2.4rem;
}

.bottom-item__link {
    display: flex;
    padding: 1rem 0;
    color: var(--gray);
}

.bottom-links__copy {
    flex-shrink: 0;
    margin: 0 1.5rem 0 auto;
    padding: 1rem 0;
    color: var(--gray);
}

@media screen and (min-width: 768px) {
    
    .footer__nav {
        width: 750px;
        margin: 0 auto;
    }

    .nav__logo {
        width: calc(100% / 6);
    }

    .nav__links {
        display: flex;
    }

    .bottom-item__link {
        font-size: 1.2rem;
    }

    .country__link, .bottom-links__copy {
        font-size: 1.2rem;
    }

}

@media screen and (min-width: 992px) {
    
    .footer {
        padding: 8rem 0 5rem;
    }

    .footer__nav {
        width: 97rem;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .logo__link {
        width: 13.2rem;
        height: 4rem;
    }

    .nav__links {
        width: 50%;
    }

    .nav__social-media {
        margin: 0 1.5rem 0 auto;
        height: 34.6rem;
    }

    .icon__link {
        width: 5.4rem;
        height: 5.4rem;
    }

    .nav__country {
        width: 100%;
    }

    .nav__bottom-links {
        width: 100%;
    }

}

@media screen and (min-width: 1200px) {

    .footer__nav {
        width: 117rem;
        height: 42.4rem;
    }

}