.banner {
    padding: 8rem 1.5rem 7rem;
    background: url(../../assets/img/bubbles.svg) center center / 100% 927px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -35%, rgb(240, 55, 166) 125%) rgb(108, 14, 224);
    background-position: center center;
    background-repeat: no-repeat;
}

.banner__text {
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 1.15;
    letter-spacing: -0.304rem;
    margin-bottom: 3.2rem;
    color: var(--white);
}

.banner__link {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--white);
    padding: 1.4rem 3.2rem;
    border-radius: 50rem;
}

@media screen and (min-width: 768px) {

    .banner {
        background: url(../../assets/img/bubbles-desk.svg) center -13.8rem / 100% 106.8rem no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -35%, rgb(240, 55, 166));
    }
    
    .banner__container {
        margin: 0 .9rem;
    }

    .banner__text {
        font-size: 6.4rem;
        letter-spacing: -0.256rem;
        max-width: 65.3rem;
    }

}

@media screen and (min-width: 992px) {

    .banner {
        display: flex;
        justify-content: center;
        height: 60rem;
        padding: 0;
    }

    .banner__wrapper {
        display: flex;
        width: 117rem;
        margin: 0 .9rem;
    }

    .banner__desktop {
        position: relative;
        width: 40%;
        padding-top: 10rem;
        display: flex;
        justify-content: center;
    }

    .desktop__phone {
        width: 28.6rem;
        height: 57.3rem;
    }

    .phone__content-desktop {
        position: absolute;
        right: 0;
        left: 0;
        height: 57.5rem;
        bottom: -13rem;
        display: flex;
        justify-content: center;
    }

    .content-desktop__image {
        width: 26.7rem;
        height: 44.5rem;
    }

    .banner__container {
        padding: 18rem 1.5rem 0 0;
        margin: 0;
        width: 60%;
    }

}