.play {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../assets/img/lets-play.svg) center center / 100% no-repeat, linear-gradient(-155deg, rgb(108, 14, 224) 55%, rgb(240, 55, 166) 115%) rgb(108, 14, 224);
}

.play__title {
    font-size: 4.8rem;
    font-weight: 900;
    letter-spacing: -0.032rem;
    line-height: 1.2;
    color: var(--white);
    padding: 11.2rem 1.5rem 3.2rem;    
    text-align: center;
}

.play__container {
    padding: 0 1.5rem 11.2rem;
}

.container__button {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    display: inline-block;
    border-radius: 50rem;
    padding: 1.4rem 3.2rem;
    background-color: var(--white);
    color: var(--black);
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {

    .play {
        background-position: left -1rem bottom -16rem;
        background-repeat: no-repeat;
    }

    .play__title {
        font-size: 6rem;
        padding: 11.2rem 9rem 3.2rem;
    }

}